<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GStore</title>
    <style>
    </style>
</head>
<body style="font-family: -apple-system, system-ui, BlinkMacSystemFont, Avenir, Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
  <div>
    <p style="text-align: center; font-size: xxx-large; font-weight: 400;">GStore</p>
  </div>
  <div>
    <p>
      Hey {{ user.Username }},
    </p>
    <p>
        Please find the stock and sales data attached as a CSV.
    </p>
  </div>
  <div style="text-align: right; font-size: small; font-weight: 300;">
    &#169; 2023 GStore. All rights reserved.
  </div>
</body>
</html>
